.launch-card
  display: flex
  flex-direction: column
  align-items: center
  min-height: 300px
  text-align: center

.launch-card__image
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 140px

.launch-card__title
  width: 100%
  min-height: 24px

.launch-card__rocket
  width: 100%
  min-height: 24px

.launch-card__button
  margin-top: auto